@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Lexend Deca", sans-serif;
}

:root {
  --whitesmoke: #f9f9f9;
  --light-grey: #ececec;
  --grey: #c4c4c4;
  --medium-grey: #7e7e7e;
  --deep-grey: #444444;
  --black: #000000;
  --blue: #1b77f3;
  --red: #5c5051;
  --green: #2fcc2f;
  --background-color: #444444;
  --tb-blue:#61aef7;
  --tb-red:#ff6d6d;
  --tb-green:#4bf16f;
  --tb-purple:#eb63f0;
  --game-max-size: 324px;
  --game-min-size: calc(100vw - 75px);
  --game-size: 324px;
  --anim-shrink: 0.9;
  --anim-grow: 1.1;
  --player-color0: #F0BE09;
  --player-color1: #FFD22E;
  --player-color-anim0: none;
  --player-color-anim1: none;
  --handlebar-color: #FFD22E;
  --border-radius: 20px;
}

html {
  scroll-behavior: smooth;
  min-height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.secao:not(:first-of-type):not(:last-of-type) {
  background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.1"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-color: var(--light-grey);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  max-width: 990px;
  border-radius: var(--border-radius);
}

.secao {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section:not(:first-of-type):not(:last-of-type)::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 100%;
  top: 0px;
  left: 0px;
  border-bottom: var(--deep-grey) solid 1px;
}

section:nth-of-type(2)::before {
  background-color: var(--tb-blue);
}

section:nth-of-type(3)::before {
  background-color: var(--tb-green);
}

section:nth-of-type(4)::before {
  background-color: var(--tb-red);
}

section:nth-of-type(5)::before {
  background-color: var(--tb-purple);
}

#sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  width: 95%;
  background-color: var(--deep-grey);
  padding: 0 10px;
  height: -moz-fit-content;
  height: fit-content;
}

#container {
  flex: 1;
  width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background-color);
}
#container .inprogress {
  height: 100vh;
}

#tutorial {
  min-height: 100vh;
}
#tutorial ::-moz-selection {
  color: white;
  background: #FFD22E;
}
#tutorial ::selection {
  color: white;
  background: #FFD22E;
}
#tutorial #t1 {
  display: none;
  color: var(--medium-grey);
}
#tutorial #t1 h1 {
  font-size: min(2vw, 30px);
}
#tutorial #t1 #grid div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#tutorial #t1 #grid span {
  margin: 3px;
  width: 56px;
  height: 56px;
  text-align: center;
  line-height: 55px;
  font-size: 36px;
  font-weight: 800;
  color: var(--medium-grey);
  border: var(--medium-grey) solid 8px;
  border-radius: 15px;
}
#tutorial #t2 {
  display: none;
  flex-direction: column;
  margin: auto;
  color: var(--medium-grey);
}
#tutorial #t2 svg {
  margin: auto;
  width: 16rem;
  height: 16rem;
}
#tutorial #t2 h2 {
  margin: auto;
  margin-top: -2rem;
  text-align: center;
  max-width: 30rem;
}

#info {
  padding-top: 50px;
  padding-bottom: 16px 0;
  min-height: 63vh;
  overflow: hidden;
}
#info ::-moz-selection {
  color: white;
  background: var(--tb-blue);
}
#info ::selection {
  color: white;
  background: var(--tb-blue);
}
#info img {
  height: 180px;
  width: 180px;
  outline: rgb(97, 174, 247) 7px outset;
  border-radius: 200px;
  margin-bottom: 18px;
  transition: 100ms all linear;
}
#info img:hover {
  outline: rgb(97, 174, 247) 15px outset;
}
#info h1 {
  font-size: 1.4em;
  font-weight: 500;
  color: var(--deep-grey);
  text-transform: capitalize;
}
#info h2 {
  font-size: 1.2em;
  font-weight: normal;
  color: var(--deep-grey);
  text-transform: capitalize;
}
#info span {
  font-size: 1.15em;
  font-weight: lighter;
  color: var(--deep-grey);
  padding: 25px 20px;
  text-align: justify;
  text-justify: inter-word;
}

#projetos {
  display: block;
  overflow: hidden;
  min-height: unset;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 45px;
}
#projetos ::-moz-selection {
  color: white;
  background: var(--tb-green);
}
#projetos ::selection {
  color: white;
  background: var(--tb-green);
}
#projetos #project_slider::-webkit-scrollbar {
  display: none;
}
#projetos #auxiliar {
  background-color: transparent;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: none;
  margin: none;
}
#projetos #auxiliar div {
  background-color: transparent;
}
#projetos #auxiliar a {
  color: var(--green);
}
#projetos #projeto_fechar {
  position: absolute;
  right: 20px;
  font-size: 2em;
  color: #832525;
  color: var(--grey);
  background-color: transparent;
  cursor: pointer;
}
#projetos #project_slider_container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.25);
  width: calc(100% - 47.5px);
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 8px;
  overflow: hidden;
  padding: 8px 16px;
}
#projetos #project_slider {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  overflow: auto;
  white-space: nowrap;
  gap: 16px;
  cursor: grab;
}
#projetos #project_slider .projeto:not(:last-child)::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 1px;
  border: none;
  background-color: var(--medium-grey);
  right: -9px;
  top: 10%;
}
#projetos #project_slider .projeto {
  height: 136px;
  width: 224px;
  position: relative;
  overflow: visible;
}
#projetos #project_slider .projeto div {
  position: relative;
  height: 136px;
  width: 224px;
  flex: 0 0 auto;
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--green);
}
#projetos #project_slider .projeto div img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 1s ease-in-out all;
}
#projetos #project_slider .projeto div h1 {
  position: absolute;
  left: 0;
  z-index: 5;
  bottom: 0;
  height: 50px;
  width: 230px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.93);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#projetos #project_slider .projeto:hover img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  opacity: 0.8;
}
#projetos #project_slider .projeto:last-of-type {
  margin-right: 50px;
}
#projetos #project_slider .ferramentas {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
#projetos #projeto_header {
  font-size: 1.8em;
  padding: 20px;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

#formacoes {
  display: block;
  min-height: 0px;
  padding-bottom: 56px;
}
#formacoes ::-moz-selection {
  color: white;
  background: var(--tb-red);
}
#formacoes ::selection {
  color: white;
  background: var(--tb-red);
}
#formacoes #formacao_header {
  font-size: 1.8em;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}
#formacoes #cards {
  display: flex;
  gap: 25px;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}
#formacoes #cards .formacao {
  background-color: var(--light-grey);
  padding: 10px;
  max-width: 374px;
  width: 40%;
  height: 110px;
}

#skills {
  min-height: 0px;
  padding-bottom: 50px;
}
#skills ::-moz-selection {
  color: white;
  background: plum;
}
#skills ::selection {
  color: white;
  background: plum;
}
#skills #skills_header {
  font-size: 1.8em;
  padding: 20px;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}
#skills h2 {
  width: 85%;
  max-width: 630px;
  margin: auto;
  font-size: 1.4em;
}
#skills #div_skills {
  display: block;
  width: 100%;
}
#skills #div_skills .tools_logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px;
  margin: auto;
}
#skills #div_skills .tools_logos .skills_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: auto;
}
#skills #div_skills .skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 140px;
  width: 140px;
  flex-wrap: wrap;
  background-color: var(--light-grey);
  border: var(--deep-grey) 1px solid;
  border-radius: 10px;
  position: relative;
}
#skills #div_skills .skill svg {
  transform: scale(0.9);
  display: block;
  margin: auto;
}
#skills #div_skills .skill h1 {
  position: relative;
  font-size: 1.1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
}

#social-media {
  margin: 36px;
  display: flex;
  gap: 54px;
}
#social-media a > svg {
  /*width: 42px;
  height: 42px;*/
  width: 50px;
  height: 50px;
  transform: scale(0.9);
}
#social-media a > svg:hover {
  transform: scale(0.95);
  filter: saturate(130%) brightness(70%);
}

.colapse {
  box-shadow: rgba(0, 0, 0, 0.1) 8px 3px 8px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 0;
  height: 100vh;
  width: 10px;
  padding: 0;
  margin: 0;
  z-index: 2;
  background-color: var(--deep-grey);
  overflow: visible;
}
.colapse #colapse_button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.2) 8px 3px 8px;
  z-index: -1;
  font-size: 15px;
  height: 60px;
  width: 35px;
  padding-right: 5px;
  cursor: pointer;
  background-color: var(--deep-grey);
  border-radius: 0px 1000px 1000px 0px;
}
.colapse button:focus {
  outline: none;
}
.colapse button:disabled svg > g {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
}

#container::-webkit-scrollbar-thumb {
  background: var(--handlebar-color);
  border-radius: 80px;
}

#container::-webkit-scrollbar-track {
  background: var(--deep-grey);
}

#container::-webkit-scrollbar {
  width: 10px;
}

#container::-webkit-scrollbar-thumb:hover {
  background: white;
}

@media screen and (min-width: 900px) {
  .game {
    position: relative;
  }
  body {
    background-color: var(--deep-grey);
  }
}
@media screen and (max-width: 900px) {
  body {
    background-color: var(--deep-grey);
  }
  #sections {
    padding: 12.5px;
  }
  .game {
    position: fixed;
  }
  #cards {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  #cards .formacao {
    width: 85% !important;
  }
}
.game {
  display: flex;
  z-index: 1000;
  height: 100%;
  width: var(--game-size);
  background-color: var(--deep-grey);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 0;
  /*.map {
    background-color: #1b77f3;
  }*/
}
.game #touchTarget {
  position: absolute;
  width: 100%;
  height: 100%;
}
.game h1 {
  padding-top: 16px;
  font-size: larger;
  color: white;
}
.game #player {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.game #player image {
  display: block;
  /*filter: saturate(200%);
  -webkit-filter: saturate(200%);
  filter: hue-rotate(90deg);*/
}
@keyframes direita {
  0% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
  60% {
    transform: scale(var(--anim-grow), var(--anim-shrink));
    -webkit-transform: scale(var(--anim-grow), var(--anim-shrink));
    -moz-transform: scale(var(--anim-grow), var(--anim-shrink));
    -ms-transform: scale(var(--anim-grow), var(--anim-shrink));
    -o-transform: scale(var(--anim-grow), var(--anim-shrink));
  }
  80% {
    transform: scale(var(--anim-shrink), var(--anim-grow));
    -webkit-transform: scale(var(--anim-shrink), var(--anim-grow));
    -moz-transform: scale(var(--anim-shrink), var(--anim-grow));
    -ms-transform: scale(var(--anim-shrink), var(--anim-grow));
    -o-transform: scale(var(--anim-shrink), var(--anim-grow));
  }
  100% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
}
@keyframes esquerda {
  0% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
  60% {
    transform: scale(var(--anim-grow), var(--anim-shrink));
    -webkit-transform: scale(var(--anim-grow), var(--anim-shrink));
    -moz-transform: scale(var(--anim-grow), var(--anim-shrink));
    -ms-transform: scale(var(--anim-grow), var(--anim-shrink));
    -o-transform: scale(var(--anim-grow), var(--anim-shrink));
  }
  80% {
    transform: scale(var(--anim-shrink), var(--anim-grow));
    -webkit-transform: scale(var(--anim-shrink), var(--anim-grow));
    -moz-transform: scale(var(--anim-shrink), var(--anim-grow));
    -ms-transform: scale(var(--anim-shrink), var(--anim-grow));
    -o-transform: scale(var(--anim-shrink), var(--anim-grow));
  }
  100% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
}
@keyframes baixo {
  0% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
  60% {
    transform: scale(var(--anim-shrink), var(--anim-grow));
    -webkit-transform: scale(var(--anim-shrink), var(--anim-grow));
    -moz-transform: scale(var(--anim-shrink), var(--anim-grow));
    -ms-transform: scale(var(--anim-shrink), var(--anim-grow));
    -o-transform: scale(var(--anim-shrink), var(--anim-grow));
  }
  80% {
    transform: scale(var(--anim-grow), var(--anim-shrink));
    -webkit-transform: scale(var(--anim-grow), var(--anim-shrink));
    -moz-transform: scale(var(--anim-grow), var(--anim-shrink));
    -ms-transform: scale(var(--anim-grow), var(--anim-shrink));
    -o-transform: scale(var(--anim-grow), var(--anim-shrink));
  }
  100% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
}
@keyframes cima {
  0% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
  60% {
    transform: scale(var(--anim-shrink), var(--anim-grow));
    -webkit-transform: scale(var(--anim-shrink), var(--anim-grow));
    -moz-transform: scale(var(--anim-shrink), var(--anim-grow));
    -ms-transform: scale(var(--anim-shrink), var(--anim-grow));
    -o-transform: scale(var(--anim-shrink), var(--anim-grow));
  }
  80% {
    transform: scale(var(--anim-grow), var(--anim-shrink));
    -webkit-transform: scale(var(--anim-grow), var(--anim-shrink));
    -moz-transform: scale(var(--anim-grow), var(--anim-shrink));
    -ms-transform: scale(var(--anim-grow), var(--anim-shrink));
    -o-transform: scale(var(--anim-grow), var(--anim-shrink));
  }
  100% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
}
@keyframes rainbow1 {
  0% {
    fill: rgb(255, 94, 255);
  }
  16% {
    fill: rgb(255, 71, 71);
  }
  32% {
    fill: rgb(255, 167, 53);
  }
  48% {
    fill: rgb(229, 255, 0);
  }
  64% {
    fill: rgb(92, 255, 59);
  }
  80% {
    fill: rgb(102, 130, 255);
  }
  100% {
    fill: rgb(255, 94, 255);
  }
}
@keyframes rainbow2 {
  0% {
    fill: rgb(230, 56, 94);
  }
  6% {
    fill: rgb(255, 71, 71);
  }
  22% {
    fill: rgb(255, 167, 53);
  }
  38% {
    fill: rgb(229, 255, 0);
  }
  54% {
    fill: rgb(92, 255, 59);
  }
  70% {
    fill: rgb(102, 130, 255);
  }
  90% {
    fill: rgb(255, 94, 255);
  }
  100% {
    fill: rgb(230, 56, 94);
  }
}
.game #player .fil0 {
  fill: var(--player-color0);
  stroke: var(--deep-grey);
  animation: var(--player-color-anim0);
  -webkit-animation: var(--player-color-anim0);
  transition: 100ms ease-out all;
  -webkit-transition: 100ms ease-out all;
  -moz-transition: 100ms ease-out all;
  -ms-transition: 100ms ease-out all;
  -o-transition: 100ms ease-out all;
}
.game #player .fil1 {
  fill: var(--player-color1);
  stroke: var(--deep-grey);
  animation: var(--player-color-anim1);
  -webkit-animation: var(--player-color-anim1);
  transition: 100ms ease-out all;
  -webkit-transition: 100ms ease-out all;
  -moz-transition: 100ms ease-out all;
  -ms-transition: 100ms ease-out all;
  -o-transition: 100ms ease-out all;
}
@keyframes surgir1 {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes surgir2 {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
.game #player .teleporte1 {
  animation: surgir1 100ms ease-out;
  -webkit-animation: surgir1 100ms ease-out;
}
.game #player .teleporte2 {
  animation: surgir2 100ms ease-out;
  -webkit-animation: surgir2 100ms ease-out;
}
.game .atalho {
  position: absolute;
  width: 20%;
  height: 14.3%;
  padding: none;
  transform: scale(0.8);
  top: 0;
  left: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 500000;
}
.game .atalho:focus {
  outline: none;
}
.game .board1 {
  position: relative;
  width: min(var(--game-size) * 5 / 7, 6cm);
  height: min(var(--game-size), 8.4cm);
  /*width: 225px;
  height: 315;*/
}
@keyframes fechar_game {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: calc(10px - var(--game-size));
  }
}
@keyframes abrir_game {
  0% {
    margin-left: calc(10px - var(--game-size));
  }
  100% {
    margin-left: 0;
  }
}

.border-radius-10px {
  border-radius: 10px;
}

.dark-outline {
  outline: var(--medium-grey) 1px solid;
}

.slider_button {
  display: flex;
  height: 100%;
  width: 24px;
  background-color: var(--tb-green);
  position: absolute;
  z-index: 10;
  align-items: center;
  justify-content: center;
  top: 0;
  cursor: pointer;
}

.slider_button:first-of-type {
  left: 0;
}
.slider_button:first-of-type svg {
  transform: scale(-1, 1);
}

.slider_button:last-of-type {
  right: 0;
}/*# sourceMappingURL=style.css.map */