@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Lexend Deca", sans-serif;
}

:root {
  --whitesmoke: #f9f9f9;
  --light-grey: #ececec;
  --grey: #c4c4c4;
  --medium-grey: #7e7e7e;
  --deep-grey: #444444;
  --black: #000000;
  --blue: #1b77f3;
  --red: #5c5051;
  --green: #2fcc2f;

  --background-color: #444444;


  --tb-blue:#61aef7;
  --tb-red:#ff6d6d;
  --tb-green:#4bf16f;
  --tb-purple:#eb63f0;

  --game-max-size: 360px;
  --game-min-size: calc(100vw - 75px);

  --anim-shrink: 0.9;
  --anim-grow: 1.1;

  --player-color0: #F0BE09;
  --player-color1: #FFD22E;

  --player-color-anim0: none;
  --player-color-anim1: none;

  --handlebar-color: #FFD22E;
}

html {
  scroll-behavior: smooth;
}



body {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100vh;
  max-width: 100vw;
  overscroll-behavior: contain;
}



.secao:not(:first-of-type):not(:last-of-type) {
    background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.1"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    //background-color: white;
    background-color: var(--light-grey);    

    //box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
    //box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    //box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    //box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;    
    //box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    max-width: 1100px;

    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}


.secao {
    height: fit-content;
    width: 100%;

    overflow: hidden;

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section:not(:first-of-type):not(:last-of-type)::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 110%;
    top: 0px;
    left: 0px;

    border-bottom: var(--deep-grey) solid 2px;
}

section:nth-of-type(2)::before{
    background-color: var(--tb-blue);
}

section:nth-of-type(3)::before{
    background-color: var(--tb-green);
}

section:nth-of-type(4)::before{
    background-color: var(--tb-red);
}

section:nth-of-type(5)::before{
    background-color: var(--tb-purple);
}



#sections{
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 64px;
  width: 98%;

  
  //background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.1"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  //background-color: rgb(82, 82, 82);
  background-color: var(--deep-grey);   

  
  padding: 0 10px;
  height: fit-content;
}

#container {
    flex: 1;
    width: 100%;
    max-height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: var(--background-color);


    .inprogress {
        height: 100vh;
        //background-color: var(--deep-grey);
    }
}

#tutorial {
    min-height: 100vh;
    //background-color: var(--deep-grey);
    //background-color: white;

    ::selection {
      color: white;
      //background: yellow;
      background: #FFD22E;
    }

    .t1 {
      display: flex;
      height: 100%;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0px;
      padding: 0;

      color: var(--medium-grey);

      h1 {
        height: 50px;
        font-size: min(4vw, 30px);
        text-align: center;
      }


      #grid {

        div{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      
        span {
          margin: 3px;
      
          width: 60px;
          height: 60px;
      
          text-align: center;
          line-height: 55px;
          font-size: 40px;
          font-weight: 800;
          color: var(--medium-grey);
      
          border: var(--medium-grey) solid 8px;
          border-radius: 15px;
        }
      }
    }

    .t2 {
      display: none;
      height: 100%;
      flex-direction: column;
      left: -10px;
      
      gap: 25px;
      padding-right: 10px;
      padding-left: 10px;
      text-align: center;
      margin-top: -90px;
      margin-left: -50px;
      color: var(--medium-grey);

      .touch {
        display: block;
        margin: auto;
      }
    }
}

#info {

    //padding: 26px 0;
    padding-top: 50px;
    padding-bottom: 16px 0;
    min-height: 70vh;

    ::selection {
      color: white;
      background: var(--tb-blue);
    }

    #info-header {
      outline: red 2px solid;
      display: flex;
      flex-direction: row;
    }

    img {
      height: 200px;
      width: 200px;
      
      outline: rgb(97, 174, 247) 8px outset;
      
      border-radius: 200px;
      -webkit-border-radius: 200px;
      -moz-border-radius: 200px;
      -ms-border-radius: 200px;
      -o-border-radius: 200px;
      margin-bottom: 20px;

      transition: 100ms all linear;
      -webkit-transition: 100ms all linear;
      -moz-transition: 100ms all linear;
      -ms-transition: 100ms all linear;
      -o-transition: 100ms all linear;
    }

    img:hover {
      outline: rgb(97, 174, 247) 15px outset;
    }

    h1 {
      font-size: 1.5em;
      font-weight: 500;
      color: var(--deep-grey);
      text-transform: capitalize;
    }

    h2 {
      font-size: 1.3em;
      font-weight: normal;
      color: var(--deep-grey);
      text-transform: capitalize;
    }

    span {
      margin: 25px 0 25px 0;

      font-size: 1.3em;
      font-weight: lighter;
      color: var(--deep-grey);
      padding: 0 20px;
      //border: red solid 1px;

      text-align: justify;
      text-justify: inter-word;
    }

    div {
      //background-color: wheat;
    }

}

#projetos {
    display: block;
    overflow: hidden;
    
    min-height: unset;
    height: fit-content;
    //height: 200px;
    
    padding-bottom: 50px;

    ::selection {
      color: white;
      background: var(--tb-green);
    }
    

    #project_slider::-webkit-scrollbar {
      display: none;
    }


    

    #auxiliar {
      background-color: transparent;
      height: fit-content;
      width: 100%;
      padding: none;
      margin: none;

      div{
        background-color: transparent;
      }

      a{
        color: var(--green);
      }
    }

    #projeto_fechar {
      position: absolute;
      right: 20px;
      //top: 200px;

      font-size: 2em;
      //color: #832525;
      color: var(--grey);
      background-color: transparent;
      cursor: pointer;
    }

    #projeto_fechar:hover {
      //color: palevioletred;

      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
    }

    #project_slider_container{
      position: relative;
      //background-color: #166ad8;
      background-color: rgba(255, 255, 255, 0.25);

      width: calc(100% - 40px - 20px);
      height: 150px;
      margin: 0 10px;
      overflow: hidden;
      padding: 10px 20px;
    }

    #project_slider {
      display: flex;
      scrollbar-width: none;

      width: 100%;
      height: 100%;
      
      overflow: hidden;
      padding: 0px 20px;
      
      gap: 16px;

      cursor: grab;

      .projeto:not(:last-child)::before {
        content: "";
        position: absolute;
        height: 80%;
        width: 0px;
        border-left: 1px solid var(--deep-grey);


        right: -8px;
        top: 10%;
      }

      .projeto {
        height: 150px;
        width: 250px;

        position: relative;
        overflow: visible;


        div{

          //height: calc(100vw/8);
          //width: calc(100vw/4);
          position: relative;
          height: 150px;
          width: 250px;
  
          //padding: 10px;
          //border: var(--grey) solid 1px;
          //background-color: yellow;
          flex: 0 0 auto;

  
          cursor: pointer;
          overflow: hidden;
  
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
  
          background-color: var(--green);

          img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            user-select: none;
            transition: 1s ease-in-out all;
            -webkit-transition: 1s ease-in-out all;
            -moz-transition: 1s ease-in-out all;
            -ms-transition: 1s ease-in-out all;
            -o-transition: 1s ease-in-out all;
          }

          h1 {
            position: absolute;
            left: 0;
            z-index: 5;
            bottom: 0;
            height: 50px;
            width: 230px;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.93);
            user-select: none;
            //left: 0;
          }
        }
      }

      .projeto:hover {
        img {
          transform: scale(1.05);
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -ms-transform: scale(1.05);
          -o-transform: scale(1.05);
          opacity: 0.8;
        }
      }

      .projeto:last-of-type {
        margin-right: 50px;
      }

      .ferramentas {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
      }
    }

    #projeto_header {
      font-size: 2em;
      padding: 20px;
      width: 100%;
      text-align: center;
      text-transform: capitalize;
    }
}

#formacoes {
  display: block;
  min-height: 0px;
  padding-bottom: 60px;

  ::selection {
    color: white;
    background: var(--tb-red);
  }

  #formacao_header {
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
  }

  #cards {
    display: flex;
    gap: 25px;
    width: 100%;
    justify-content: center;
    flex-direction: row;

    .formacao {
      background-color: var(--light-grey);
      padding: 10px;

      max-width: 420px;
      width: 40%;
      height: 120px;
    }
  }
}

#skills {
  min-height: 0px;
  padding-bottom: 50px;

  ::selection {
    color: white;
    background: plum;
  }

  #skills_header {
    font-size: 2em;
    padding: 20px;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
  }

  h2 {
    padding: 20px;
    padding-top: 30px;
  }

  #div_skills {
    display: block;
    width: 100%;

    .tools_logos {
      display: flex;

      justify-content: center;
      align-items: center;
      flex-direction: row;

      flex-wrap: wrap;

      gap: 10px;
    }

    .skill {
      display: flex;

      justify-content: center;
      align-items: center;
      flex-direction: column;

      height: 200px;
      width: 200px;
      //background-color: var(--whitesmoke);


      background-color: var(--light-grey); 
      border: var(--deep-grey) 1px solid;

      padding: 10px;
      //border: var(--light-grey) 1px solid;

      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;

      img {
        height: 100px;
        width: auto;
        //padding: auto;
        image-rendering: pixelated;
      }
    }
  }
}


#social-media {
  
  margin: 40px;
  display: flex;
  gap: 60px;

  a > svg {
    width: 50px;
    height: 50px;
  }

  a > svg:hover {
    transform: scale(1.05);
  }
}


.colapse {

  box-shadow: rgba(0, 0, 0, 0.1) 8px 3px 8px;


  //display: none;
  display: flex;
  align-items: center;
  //padding-right: 15px;
  position: absolute;
  right: 0px;
  top: 0;
  height: 100vh;
  width: 10px;
  padding: 0;
  margin: 0;

  z-index: 2;

  //outline: 3px red solid;
  background-color: var(--deep-grey);
  overflow: visible;

  #colapse_button {

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    
    box-shadow: rgba(0, 0, 0, 0.2) 8px 3px 8px;
    z-index: -1;

    font-size: 15px;
    height: 60px;
    width: 35px;
    padding-right: 5px;

    cursor: pointer;

    background-color: var(--deep-grey);
    border-radius: 0px 1000px 1000px 0px;
  }

  button:focus {
    outline: none;
  }

  button:disabled {
    svg > g {
      transform: translateX(-50px);
      -webkit-transform: translateX(-50px);
      -moz-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
      -o-transform: translateX(-50px);
    }
  }
}


#container::-webkit-scrollbar-thumb {
  background: var(--handlebar-color);
  border-radius: 80px;
}

#container::-webkit-scrollbar-track {  background: var(--deep-grey); }
#container::-webkit-scrollbar {  width: 10px; }
#container::-webkit-scrollbar-thumb:hover {  background: white; }


@media screen and (min-width: 900px) {

    .game {
        width: var(--game-max-size);
        position: relative;
        //background-color: #92db92;
    }
    body {
      background-color: var(--deep-grey);
    }
}



@media screen and (max-width: 900px) {

    body {
      background-color: var(--deep-grey);
      //margin-left: 40px;
    }

    #sections {
      padding: 12.5px;
    }

    .game {
        position: absolute;
        width: var(--game-min-size);
        //background-color: red;
    }


    #cards {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;

        .formacao {
            width: 85% !important;
        }
    }
}

 
.game {
  display: flex;
  z-index: 1000;
  
  height: 100vh;
  background-color: var(--deep-grey);
  align-items: center;
  flex-direction: column;
  justify-content: center;

  #touchTarget {
    position: absolute;
    width: 90%;
    height: 90%;
  }

  h1 {
    padding-top: 20px;
    font-size: larger;
    color: white;

    
  }

  #player {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 50px;
    top: 50px;
    

    image {
      display: block;
      /*filter: saturate(200%);
      -webkit-filter: saturate(200%);
      filter: hue-rotate(90deg);*/
}

    @keyframes direita {
      0% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
      }

      60% {
        transform: scale(var(--anim-grow), var(--anim-shrink));
        -webkit-transform: scale(var(--anim-grow), var(--anim-shrink));
        -moz-transform: scale(var(--anim-grow), var(--anim-shrink));
        -ms-transform: scale(var(--anim-grow), var(--anim-shrink));
        -o-transform: scale(var(--anim-grow), var(--anim-shrink));
}

      80% {
        transform: scale(var(--anim-shrink), var(--anim-grow));
        -webkit-transform: scale(var(--anim-shrink), var(--anim-grow) );
        -moz-transform: scale(var(--anim-shrink), var(--anim-grow) );
        -ms-transform: scale(var(--anim-shrink), var(--anim-grow) );
        -o-transform: scale(var(--anim-shrink), var(--anim-grow) );
}

      100% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
      }
    }

    @keyframes esquerda {
      0% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
      }

      60% {
        transform: scale(var(--anim-grow), var(--anim-shrink));
        -webkit-transform: scale(var(--anim-grow), var(--anim-shrink));
        -moz-transform: scale(var(--anim-grow), var(--anim-shrink));
        -ms-transform: scale(var(--anim-grow), var(--anim-shrink));
        -o-transform: scale(var(--anim-grow), var(--anim-shrink));
}

      80% {
        transform: scale(var(--anim-shrink), var(--anim-grow));
        -webkit-transform: scale(var(--anim-shrink), var(--anim-grow) );
        -moz-transform: scale(var(--anim-shrink), var(--anim-grow) );
        -ms-transform: scale(var(--anim-shrink), var(--anim-grow) );
        -o-transform: scale(var(--anim-shrink), var(--anim-grow) );
}

      100% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
      }
    }

    @keyframes baixo {
      0% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
      }

      60% {
        transform: scale(var(--anim-shrink), var(--anim-grow));
        -webkit-transform: scale(var(--anim-shrink), var(--anim-grow) );
        -moz-transform: scale(var(--anim-shrink), var(--anim-grow) );
        -ms-transform: scale(var(--anim-shrink), var(--anim-grow) );
        -o-transform: scale(var(--anim-shrink), var(--anim-grow) );
}

      80% {
        transform: scale(var(--anim-grow), var(--anim-shrink));
        -webkit-transform: scale(var(--anim-grow), var(--anim-shrink));
        -moz-transform: scale(var(--anim-grow), var(--anim-shrink));
        -ms-transform: scale(var(--anim-grow), var(--anim-shrink));
        -o-transform: scale(var(--anim-grow), var(--anim-shrink));
}

      100% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
      }
    }

    @keyframes cima {
      0% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
      }

      60% {
        transform: scale(var(--anim-shrink), var(--anim-grow));
        -webkit-transform: scale(var(--anim-shrink), var(--anim-grow) );
        -moz-transform: scale(var(--anim-shrink), var(--anim-grow) );
        -ms-transform: scale(var(--anim-shrink), var(--anim-grow) );
        -o-transform: scale(var(--anim-shrink), var(--anim-grow) );
}

      80% {
        transform: scale(var(--anim-grow), var(--anim-shrink));
        -webkit-transform: scale(var(--anim-grow), var(--anim-shrink));
        -moz-transform: scale(var(--anim-grow), var(--anim-shrink));
        -ms-transform: scale(var(--anim-grow), var(--anim-shrink));
        -o-transform: scale(var(--anim-grow), var(--anim-shrink));
}

      100% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
      }
    }
    

    @keyframes rainbow1 {
      0% {
        fill: rgb(255, 94, 255);
      }

      16% {
        fill: rgb(255, 71, 71);
      }

      32% {
        fill: rgb(255, 167, 53);
      }

      48% {
        fill: rgb(229, 255, 0);
      }

      64% {
        fill: rgb(92, 255, 59);
      }

      80% {
        fill: rgb(102, 130, 255);
      }

      100% {
        fill: rgb(255, 94, 255);
      }
    }

    @keyframes rainbow2 {
      0% {
        fill: rgb(230, 56, 94);
      }

      6% {
        fill: rgb(255, 71, 71);
      }

      22% {
        fill: rgb(255, 167, 53);
      }

      38% {
        fill: rgb(229, 255, 0);
      }

      54% {
        fill: rgb(92, 255, 59);
      }

      70% {
        fill: rgb(102, 130, 255);
      }

      90% {
        fill: rgb(255, 94, 255);
      }

      100% {
        fill: rgb(230, 56, 94);
      }
    }

    .fil0 {
      fill: var(--player-color0);
      stroke: var(--deep-grey);

      animation: var(--player-color-anim0);
      -webkit-animation: var(--player-color-anim0);

      transition: 100ms ease-out all;
      -webkit-transition: 100ms ease-out all;
      -moz-transition: 100ms ease-out all;
      -ms-transition: 100ms ease-out all;
      -o-transition: 100ms ease-out all;
}
    .fil1 {
      fill: var(--player-color1);
      stroke: var(--deep-grey);

      animation: var(--player-color-anim1);
      -webkit-animation: var(--player-color-anim1);

      transition: 100ms ease-out all;
      -webkit-transition: 100ms ease-out all;
      -moz-transition: 100ms ease-out all;
      -ms-transition: 100ms ease-out all;
      -o-transition: 100ms ease-out all;
}

    @keyframes surgir1 {
      from {
        margin: 25px;
        height: 0px;
        width: 0px;
      }

      to {
        margin: 0px;
        height: 50px;
        width: 50px;
      }
    }

    @keyframes surgir2 {
      from {
        margin: 25px;
        height: 0px;
        width: 0px;
      }

      to {
        margin: 0px;
        height: 50px;
        width: 50px;
      }
    }

    .teleporte1 {
      animation: surgir1 100ms ease-out;
      -webkit-animation: surgir1 100ms ease-out;
    }

    .teleporte2 {
      animation: surgir2 100ms ease-out;
      -webkit-animation: surgir2 100ms ease-out;
    }
  }

  .atalho {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: none;

    top: 0;
    left: 0;

    background-color: transparent;

    cursor: pointer;
    z-index: 500000;
  }

  .atalho:focus {
    outline: none;
  }

  .board1 {
    position: relative;
    width: 250px;
    height: 350px;
  }

  @keyframes fechar_game_1 {
    0% { margin-left: 0; }
    100% { margin-left: calc( 10px - var(--game-max-size)); }
  }
  
  @keyframes fechar_game_2 {
    0% { margin-left: 0; }
    100% { margin-left: calc(10px - var(--game-min-size)); }
  }
  
  @keyframes abrir_game {
    0% { margin-left: calc( 10px - var(--game-max-size));  }
    100% { margin-left: -0; }
  }

}



.border-radius-10px {
	border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dark-outline {
  outline: var(--medium-grey) 1px solid;
}

.slider_button {

  display: flex;
  height: 100%;
  width: 24px;
  background-color: var(--tb-green);
  position: absolute;

  z-index: 10;

  align-items: center;
  justify-content: center;

  top: 0;

  cursor: pointer;
}

.slider_button:first-of-type {
  left: 0;
  svg{
    transform: scale(-1,1);
  }
}

.slider_button:last-of-type {
  right: 0;
}


#bolo {
  width: 100%;
  height: 410px;

  padding: none;
  margin: none;

  max-height: min-content;
}